.inputGroup {
  margin-top: 15px;
}

.input {
  border-radius: 15px;
  padding-left: 10px;
}

.submitButtonContainer {
  margin-top: 10px;
  background-color: rgb(8, 64, 20);
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  transition: 0.4s ease-in-out;
  width: 160px;
}

.submitButtonContainer:hover {
  background-color: rgb(23, 182, 58);
}

.submitButton {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
  color: white;
  transition: 0.4s ease-in-out;
}

.submitButton:hover {
  color: black;
}
